@keyframes infscroll {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 64px 64px;
	}
}

@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 100px #fff;
	}
	50% {
		box-shadow: 0 0 50px #fff;
	}
	100% {
		box-shadow: 0 0 100px #fff;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	overflow: hidden;
}

body {
	background: url("/images/draw/background.png") repeat left top fixed #000;
	background-size: 64px;
	animation: infscroll 5s linear infinite;

	backdrop-filter: blur(4px);

	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	position: fixed;
	top: 2em;
	left: 2em;

	width: 300px;
	height: 100px;

	background: url("/images/shuzu4x.png") no-repeat top center;
	background-size: contain;

	pre {
		position: absolute;

		text-align: right;
		bottom: 0;

		width: 100%;
		height: min-content;

		font-family: "JetBrains Mono", monospace;
	}
}

.info {
	position: absolute;
}

canvas {
	z-index: 1;
	outline: 2px solid #fff;

	background: url("/images/noimage.png") repeat center center fixed #000;

	image-rendering: pixelated;

	animation: shadow-pulse 10s ease-in-out infinite;
}