@keyframes infscroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 64px 64px;
  }
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 100px #fff;
  }
  50% {
    box-shadow: 0 0 50px #fff;
  }
  100% {
    box-shadow: 0 0 100px #fff;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: url("/images/draw/background.png") repeat left top fixed #000;
  background-size: 64px;
  animation: infscroll 5s linear infinite;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: white;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    display: none;
    background-color: #000;
  }
  .container ~ .err {
    display: block;
  }
}

.logo {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  opacity: 0.25;
  background: url("/images/shuzu4x.png") no-repeat center center;
  background-size: contain;
}

.err {
  display: none;
  text-shadow: 0 0 10px #ff0000;
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/draw/info.png") no-repeat center center fixed;
}

.fade {
  animation: fade 0.5s ease-out forwards;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  outline: 2px solid #fff;
  background: url("/images/noimage.png") repeat center center fixed #000;
  image-rendering: pixelated;
  animation: shadow-pulse 10s ease-in-out infinite;
}

.toolbox {
  position: fixed;
  z-index: 2;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.toolbox.column {
  flex-direction: column;
}
.toolbox.bottom {
  left: 50%;
  bottom: 0;
  height: 64px;
  transform: translateX(-50%);
  border: 2px solid #fff;
  border-bottom: none;
}
.toolbox.right {
  right: 0;
  bottom: 64px;
  border: 2px solid #fff;
  border-right: none;
}
.toolbox .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.toolbox .colors .color {
  width: 32px;
  height: 32px;
  margin: 0 4px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: width 0.25s ease-out, height 0.25s ease-out;
}
.toolbox .colors .color.active {
  width: 48px !important;
  height: 48px !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form * {
  border-radius: 0;
}
form input {
  min-width: 240px;
  margin-bottom: 8px;
  height: 32px;
  margin-top: 8px;
  border: 2px solid #fff;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 500;
}
form input:focus {
  outline: none;
}
form input:last-child {
  margin: 0;
}
form textarea {
  width: 240px;
  height: 120px;
  margin-bottom: 8px;
  resize: none;
  margin-top: 8px;
  border: 2px solid #fff;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 500;
}
form textarea:focus {
  outline: none;
}
form textarea:last-child {
  margin: 0;
}
form button {
  width: 32px;
  height: 32px;
  margin: 0 4px;
  border: 2px solid #fff;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 500;
}
form button:focus {
  outline: none;
}/*# sourceMappingURL=draw.css.map */