body {
  font-family: serif;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  background: url("/images/background.png") repeat-x center top local lightgray;
}

/* GENERAL */
hr {
  border: 0;
  border-top: 1px solid black;
}

/* TEXT FORMATTING */
.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

/* HEADER */
.header {
  margin-bottom: 0;
  text-align: center;
}

/* SPLASH */
.splash {
  font-size: large;
  position: relative;
  z-index: 999;
  overflow: visible !important;
  width: 380px;
  margin: 0;
  padding: 0;
  animation: splashBounce;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: yellow;
}

@keyframes splashBounce {
  100% {
    transform: translate(32px, -32px) rotate(-5deg) scale(0.95);
  }
  0% {
    transform: translate(32px, -32px) rotate(-5deg) scale(1);
  }
}
/* OTHER */
.document {
  max-width: 60em;
  min-width: 750px;
  margin: auto;
}

.half-size {
  width: 50%;
}

.centered {
  margin-right: auto;
  margin-left: auto;
}

.fit {
  width: -moz-fit-content;
  width: fit-content;
}

/* LOGO */
.logo {
  width: 320px;
  height: 120px;
  margin: 0 auto;
  padding: 0;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
}
.logo h1 {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.logo h1 a {
  width: 320px;
  height: 120px;
  padding-right: 265px;
  padding-bottom: 95px;
  text-align: center;
}

/* BOX */
.quarter-size {
  width: 25%;
  margin: auto;
}

.box {
  zoom: 100%;
  margin-bottom: 0.5em;
  border: 1px solid;
  background: white;
}
.box .boxbar {
  position: relative;
  zoom: 100%;
  text-align: center;
  background: lightgray;
}
.box .boxbar * {
  zoom: 100%;
  margin: 0;
  padding: 0.125em;
}
.box .boxinner {
  margin: 1em;
  padding: 0;
  text-align: center;
}
.box .boxinner img {
  max-width: 100%;
  max-height: 50vh;
}

/* SIDE BY SIDE FLEXBOX */
.flex-container {
  display: flex;
  align-content: space-around;
  flex-direction: row;
  justify-content: space-around;
}

.flex-links {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
}

/* BOARD PAGE */
.board-title {
  font-size: 3.5em;
  margin-top: 36px;
  margin-bottom: 0;
  text-align: center;
}

.board-description {
  font-size: 1.5em;
  margin-top: 0.25em;
  margin-bottom: 36px;
  text-align: center;
}

.board-banner img {
  width: 468px;
  height: 60px;
}

/* BOARD PAGE - NEW THREAD */
.flex-links * {
  box-sizing: border-box;
  margin: auto;
}
.flex-links textarea {
  width: 100%;
  height: 100px;
  margin: 0.25em auto 0.25em auto;
  resize: none;
}
.flex-links input {
  width: 100%;
  margin: 0.25em auto 0.25em auto;
  resize: none;
}
.flex-links input[type=submit] {
  width: 15%;
}

/* CATALOG */
.catalog {
  align-items: center;
  width: 90%;
  margin: auto;
}

.catalog-thread {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 180px;
  max-height: 320px;
  margin: 0.25em auto 0.25em auto;
  padding-top: 1em;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
}
.catalog-thread:hover {
  text-decoration: underline;
}
.catalog-thread * {
  display: inline;
}
.catalog-thread a {
  text-decoration: none;
  color: black;
}
.catalog-thread img {
  max-width: 150px;
  box-shadow: 0 4px 8px 0 darkgray, 0 6px 20px 0 gray;
}

.mime {
  position: absolute;
  z-index: 9999;
  top: 24px;
  left: 24px;
  padding: 4px;
  color: white;
  border-radius: 5px;
  background-color: dimgray;
}

.mime-hack {
  position: absolute;
  z-index: 9999;
  padding: 4px;
  transform: translate(32px, 32px);
  color: white;
  border-radius: 5px;
  background-color: dimgray;
}

/* CATALOG */
.catalog-image {
  margin-right: 0.5em;
}

/* THREAD */
.path {
  font-size: large;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em auto 1em auto;
}

.thread {
  width: 90%;
  margin: 8px;
}

.thread-reply {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-bottom: 0.5em;
  border: 1px solid black;
  background-color: silver;
}
.thread-reply:target {
  border: 2px solid crimson;
  background-color: silver;
}
.thread-reply img, .thread-reply video {
  margin-right: 0.5em;
  -o-object-fit: none;
     object-fit: none;
}
.thread-reply .fullImage {
  width: 100% !important;
}
.thread-reply .reply-top {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.25em;
  background-color: gainsboro;
}
.thread-reply .reply-inner {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 1.5em;
}
.thread-reply .reply-inner .file-info {
  display: block;
}
.thread-reply .reply-inner .reply-image {
  display: inline-block;
  float: left;
  text-decoration: none;
  color: black;
}
.thread-reply .reply-inner .reply-image button {
  display: block;
  box-sizing: border-box;
  width: 25%;
  margin: auto;
  margin-bottom: 1em;
  vertical-align: top;
}
.thread-reply .reply-inner .reply-text {
  font-family: "Times New Roman", Times, serif;
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: top;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.thread-reply .reply-inner .reply-text code {
  padding: 1px;
  color: white;
  border-radius: 4px;
  background-color: dimgray;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 0.25em;
}

tr:nth-child(even) {
  background-color: gainsboro;
}

tr.expired {
  background-color: lightcoral;
}

/* FOOTER */
.footer {
  text-align: center;
}/*# sourceMappingURL=haven.css.map */